*{
  margin: 0;
  padding: 0;
}

.topnav {
  background-color: rgba(255,255,255,0.5);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  position: fixed;
  z-index: 2;
  width: 100vw;
}

.topnav img {
	opacity: 66%
}

.topnav img:hover {
	opacity: 100%
}

img{
	height: 100%;
	width: auto;
}
.topnav img {
	height: 11vh;
	width: auto

}

.nav a {
  float: left;
  color: red;
  opacity: 66%;
  text-align: center;
  padding: 3vh;
  text-decoration: none;
  font-size: 3vh;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav a:hover {
  color: red;
  opacity: 100%;
}

a {
	font-family: Microsoft JhengHei;
}

p{
  font-family: Microsoft JhengHei;

} 

header {    
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../assets/6.jpg") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}	

#portfolio {
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about {
  color: white;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  padding-right: 5vh;
}

#fotovanmij {
  height: 60vh;
  max-width: 40vw;

}

#foto {
  height: 50vw;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#typoanimatie {
  height: 50vw;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#kortfilm {
  height: 50vw;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}


#carouselExampleControls {
  width: 55vw;
}

iframe {
  height: 30.9375vw;  
  width: 55vw;
}

.carousel-control-prev{
  left: -80px;
}

.carousel-control-prev-icon {
/*  background-image: url();
*/}

.carousel-control-next {
  right: -80px;
}

.d-block {
  width: 80% !important;
  margin: auto;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.container {
  padding-top: 8vw;
}

label {
  color: white;
}

label, input {
  height: 1vw;
}

input[type=submit] {
  height: 30px;
  width: 60px;
}

p {
 height: : 1vw;
}

@media only screen and (max-width: 700px) {
  #fotovanmij {
    width: 30vw;
    height: auto;
  }

   .nav a {
    float: left;
    color: red;
    opacity: 100%;
    text-align: center;
    padding: 1vh;
    text-decoration: none;
    font-size: 3vh;
  }
	
    .topnav img {
     opacity: 100%
}
}
